@import '../../styles/variables';
@import '../../styles/mixins';

.p-inputtext {
  width: 10vw;
  height: 45px;
  border-radius: $defaultBorderRadius;
}

.create-form {
  width: 100%;
  @include flexAlignCenterColumn;

  &__inputs {
    width: 100%;
    @include flexAlignCenterColumn;
    margin: 10px;

    label {
      font-family: $defaultFont;
      color: white;
      margin-bottom: 5px;
    }
    span {
      display: block;
    }
    input,
    ::ng-deep .p-dropdown,
    ::ng-deep .p-inputtextarea {
      width: 50vw;
    }

    .synopsis-length {
      color: white;
    }
  }
}

