<form
  (ngSubmit)="addMovie(); navigateToCreatedMovie()"
  class="create-form"
  #addMovieForm="ngForm"
>
  <div class="create-form__inputs">
    <label for="title">Type a title: </label>
    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-pencil"></i>
      <input
        pInputText
        type="text"
        id="title"
        name="title"
        required
        #title="ngModel"
        placeholder="Title"
        [(ngModel)]="newMovie.title"
        [ngClass]="{
          'ng-dirty': title.invalid || (title.dirty && title.invalid)
        }"
      />
    </span>
    <small
      *ngIf="title.invalid || (title.dirty && title.invalid)"
      class="p-error"
      >A movie title is required</small
    >
  </div>
  <div class="create-form__inputs">
    <label for="director">Type a director: </label>
    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-user"></i>
      <input
        pInputText
        type="text"
        id="director"
        name="director"
        required
        #director="ngModel"
        placeholder="Director"
        [(ngModel)]="newMovie.director"
      />
    </span>
  </div>
  <div class="create-form__inputs">
    <label for="year">Type year: </label>
    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-clock"></i>
      <input
        pInputText
        type="number"
        id="year"
        name="year"
        min="1900"
        max="2022"
        required
        #year="ngModel"
        [(ngModel)]="newMovie.year"
      />
    </span>
  </div>
  <div class="create-form__inputs">
    <label for="genre">Type a genre: </label>
    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-compass"></i>
      <input
        pInputText
        type="text"
        id="genre"
        name="genre"
        placeholder="Genre"
        required
        #genre="ngModel"
        [(ngModel)]="newMovie.genre"
      />
    </span>
  </div>
  <div class="create-form__inputs">
    <label for="img">Paste URL of movie poster: </label>
    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-image"></i>
      <input
        pInputText
        type="text"
        id="img"
        name="img"
        placeholder="Movie Poster URL"
        required
        #poster="ngModel"
        [(ngModel)]="newMovie.img"
      />
    </span>
  </div>
  <div class="create-form__inputs">
    <label for="audience">Select with whom you would watch this movie: </label>
    <p-dropdown
      id="audience"
      name="audience"
      [options]="audiences"
      #audience="ngModel"
      [(ngModel)]="newMovie.audience"
    ></p-dropdown>
  </div>
  <div class="create-form__inputs">
    <label for="synopsis">Type the movie synopsis: </label>
    <textarea
      pInputTextarea
      id="synopsis"
      name="synopsis"
      [rows]="3"
      [autoResize]="true"
      placeholder="Movie synopsis"
      required
      #synopsis="ngModel"
      [(ngModel)]="newMovie.synopsis"
    ></textarea>
  </div>

  <p-button
    type="submit"
    label="Add this movie"
    icon="pi pi-arrow-circle-right"
    iconPos="right"
  ></p-button>
</form>
