@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  width: 100%;
  height: 100px;
  margin-top: -$headerMargin;
  background-color: #6d426d;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  position: fixed;
  @include flexCenter;
  z-index: 2;

  &__title {
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    color: azure;
    letter-spacing: 5px;
    font-family: $mainTitleFont;
    cursor: pointer;
  }

  &__welcome {
    position: absolute;
    bottom: 5px;
    font-family: $defaultFont;
    color: rgb(255, 240, 255);
  }

  &__add-button, &__account-button, &__logout-button {
    position: absolute;
    top: 10px;
  }

  &__add-button {
    right: 10px;
  }

  &__account-button, &__logout-button, &__welcome {
  left: 10px;
  }
}
