.header {
  width: 100%;
  height: 100px;
  background-color: #6d426d;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    color: azure;
    letter-spacing: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    cursor: pointer;
  }

  &__add-button, &__account-button, &__logout-button {
    position: absolute;
    top: 10px;
  }

  &__add-button {
    right: 10px;
  }

  &__account-button, &__logout-button {
  left: 10px;
  }
}
