<div class="header">
  <!-- Logout button and welcoming message -->
  <p-button
    (click)="signOut()"
    icon="pi pi-sign-out"
    iconPos="right"
    label="Logout"
    class="header__logout-button"
    *ngIf="authService.userData | async"
  >
  </p-button>

  <!-- Choose what to display to welcome user:
  if user credentials provide a display name and a photo, display them
else display the user email -->
  <div *ngIf="authService.userData | async">
    <div
      *ngIf="
        (authService.userData | async)?.displayName &&
        (authService.userData | async)?.photoURL
      "
      class="header__welcome"
    >
      <p>Logged in as {{ (authService.userData | async)?.displayName }}</p>
      <img src="{{ (authService.userData | async)?.photoURL }}" alt="" />
    </div>

    <div
      *ngIf="!(authService.userData | async)?.displayName"
      class="header__welcome"
    >
      <p>Logged in as {{ (authService.userData | async)?.email }}</p>
    </div>
  </div>

  <!-- Main title -->
  <h1 class="header__title" routerLink="/">SHLAG MOVIES</h1>

  <!-- Account button and modal -->
  <p-button
    (click)="showModalDialog()"
    icon="pi pi-user"
    label="My account"
    class="header__account-button"
    iconPos="right"
    *ngIf="!(authService.userData | async)"
  ></p-button>

  <p-dialog
    header="Authentification"
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <app-auth></app-auth>
  </p-dialog>

  <!-- Add a movie button -->
  <p-button
    icon="pi pi-plus"
    iconPos="right"
    type="button"
    label="Add a movie"
    routerLink="add"
    class="header__add-button"
  ></p-button>
</div>
