@import '../../styles/variables';
@import '../../styles/mixins';

.movies-table {
    th {
        &.small {
            width: 15vw;
        }

        &.large {
            width: 25vw;
        }
    }
}

.img-title {
    @include flexAlignCenter;
    img {
        margin-right: 50px;
    }
}