<p-button
  (click)="showModalDialog()"
  icon="pi pi-user"
  label="My account"
  class="my-account-button"
  iconPos="right"
></p-button>

<h1 *ngIf="authenticationService.userData | async">
  Hello {{ (authenticationService.userData | async)?.email }} 😊
</h1>

<p-dialog
  header="Authentification"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="!(authenticationService.userData | async)">
    <input pInputText type="text" [(ngModel)]="email" placeholder="Email" />
    <input
      pInputText
      type="password"
      [(ngModel)]="password"
      placeholder="Password"
    />
    <p-button
      (click)="signUp()"
      icon="pi pi-user-plus"
      iconPos="right"
      label="Sign up"
      class="sign-up-button"
    ></p-button>
    <p-button
      (click)="signIn()"
      icon="pi pi-sign-in"
      iconPos="right"
      label="Login"
      class="login-button"
    ></p-button>
  </div>
  <p-button
    (click)="signOut()"
    icon="pi pi-sign-out"
    iconPos="right"
    label="Logout"
    class="logout-button"
    *ngIf="authenticationService.userData | async"
  >
  </p-button>
</p-dialog>
