@import '../../styles/variables';
@import '../../styles/mixins';

.auth {
    @include flexAlignCenterColumn;
    justify-content: space-evenly;
    height: 40vh;

    * {
        margin-top: 20px;
    }

    input {
        width: 30vw;
    }

    strong {
        font-weight: normal;
        font-style: italic;
    }
    
}
.separate {
    width:20%;
    height: 1px;
    border-top: solid white 1px;
}