<div *ngIf="!(authService.userData | async)">
  <input pInputText type="text" [(ngModel)]="email" placeholder="Email" />
  <input
    pInputText
    type="password"
    [(ngModel)]="password"
    placeholder="Password"
  />
  <p-button
    (click)="signUp()"
    icon="pi pi-user-plus"
    iconPos="right"
    label="Sign up"
    class="sign-up-button"
  ></p-button>
  <p-button
    (click)="signIn()"
    icon="pi pi-sign-in"
    iconPos="right"
    label="Login"
    class="login-button"
  ></p-button>
</div>
<p-button
  (click)="signOut()"
  icon="pi pi-sign-out"
  iconPos="right"
  label="Logout"
  class="logout-button"
  *ngIf="authService.userData | async"
>
</p-button>
