<div class="guard">
  <img
    src="https://external-preview.redd.it/dvL7GSSlQhz51JWp_7s0W-PEwODTYdya-MPamsrYbD4.jpg?auto=webp&s=180bd27a232806a0d360dba47bc47f75fc1c22f0"
    alt="guard illustration"
  />
  <q>
    Oh, hi there! You got lost too? I'm stuck, it's been 3 weeks now... <br />
    I encountered an old guy called Dangalf when I got there, he told me
    something like
    <strong>"you shall log in to access to this content"</strong> before hitting
    the ground with his staff. <br />
    Crazy man, I have no idea what he meant there, do you?
  </q>
</div>
