@mixin flexAlignCenter {
    display: flex;
    align-items: center;
}
// ------------------------------
@mixin flexAlignCenterColumn {
    @include flexAlignCenter;
    flex-direction: column;
}

@mixin flexAlignJustifyCenter {
    @include flexAlignCenter;
    justify-content: center;    
}

@mixin flexAlignJustifyCenterColumn {
    @include flexAlignJustifyCenter;
    flex-direction: column;   
}
