$defaultFont: "Segoe UI", Tahoma, Verdana, sans-serif;
$guardFont: "Rainy Hearts", Tahoma, Verdana, sans-serif;
$mainTitleFont: Georgia, "Times New Roman", Times, serif;

$headerMargin: 120px;

$defaultBorderRadius: 6px;

$scrollbarBackgroundColor: rgb(10, 0, 40);