.update-button {
  margin-top: 20px;
}

.update {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    input {
      width: 400px;
    }
  }
}
