@import '../../styles/variables';
@import '../../styles/mixins';

.update-button {
  margin-top: 20px;
}

.update {
  width: 100%;
  height: 100%;
  @include flexAlignCenterColumn;

  &__form {
    width: 100%;
    height: 100%;
    @include flexAlignCenterColumn;
  }

  &__inputs {
    @include flexAlignCenterColumn;
    margin: 10px 0;

    input,
    ::ng-deep .p-dropdown,
    ::ng-deep .p-inputtextarea {
      width: 400px;
    }
  }
}
