@import '../../styles/variables';
@import '../../styles/mixins';

.p-inputtext {
  width: 80vw;
  height: 50px;
  border-radius: $defaultBorderRadius;
}

.searchbar {
  width: 100%;
  @include flexAlignCenterColumn;
  font-family: $defaultFont;

  &, &__results, p {
    margin-top: 20px;
  }

  &__results, p, a {
    color: white;
  }

  &__results {
    @media screen and (max-width: $bp345) {
      font-size: .8em;
    }
  }

  p {
    text-align: center;
    font-size: .8em;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
    &:hover {
      color: rgb(232, 180, 237);
      font-size: 1.2em;
    }
    @media screen and (max-width: $bp1200) {
      color: rgb(232, 180, 237)
    }
  }
}
