@import '../../styles/variables';
@import '../../styles/mixins';

.movies {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__cards {
    width: $movieCardsWidth;
    @include flexAlignCenterColumn;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: $defaultBorderRadius;
    margin: 20px;
    transition: 0.3s;
    &:hover {
      border: 2px #b052c0 solid;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(150, 150, 193, 0.25) 0px 50px 100px -20px,
        rgba(100, 100, 100, 0.3) 0px 30px 60px -30px;
      cursor: pointer;
    }
    @media screen and (max-width: $bp1200) {
      width: calc($movieCardsWidth/2);
    }
    @media screen and (max-width: $bp345) {
      width: calc($movieCardsWidth/3);
    }
  }

  &__poster {
    width: 100%;
    height: $moviePosterHeight;
    border-radius: $defaultBorderRadius $defaultBorderRadius 0 0;
    @media screen and (max-width: $bp1200) {
      height: calc($moviePosterHeight/2);
    }
    @media screen and (max-width: $bp345) {
      height: calc($moviePosterHeight/3);
    }
  }

  &__infos {
    min-height: $movieInfosHeight;
    width: 100%;
    @include flexAlignCenterColumn;
    justify-content: space-evenly;
    background-color: #b052c0;
    color: white;
    border-radius: 0 0 $defaultBorderRadius $defaultBorderRadius;

    
    @media screen and (max-width: $bp345) {
      min-height: calc($movieInfosHeight/1.5);
    }

    h1, h2 {
      font-family: $defaultFont;
      text-align: center;
      letter-spacing: 2px;
      @media screen and (max-width: $bp1200) {
        font-weight: 400;
      }
    }

    h1 {
      font-size: 1.3em;
      @media screen and (max-width: $bp1200) {
        font-size: .9em;
      }
      @media screen and (max-width: $bp345) {
        font-size: .6em;
      }
    }

    h2 {
      font-size: 1em;
      @media screen and (max-width: $bp1200) {
        font-size: .7em;
      }
      @media screen and (max-width: $bp345) {
        font-size: .5em;
      }
    }
    
  }
}
