.movie {
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(35, 35, 35);
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  border: solid 2px black;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  h1 {
    letter-spacing: 5px;
  }

  &__details {
    display: flex;
    justify-content: space-evenly;
  }

  &__infos {
    width: 50%;
    margin: auto 0;
    p {
      text-align: justify;
      text-overflow: ellipsis;
    }
  }

  &__delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    ::ng-deep .p-button {
      border: none;
      background-color: rgb(138, 8, 30);
      &:hover {
        background-color: rgb(117, 7, 25);
      }
    }
  }

  h1,
  p,
  &__update-button,
  &__poster {
    margin: 10px 0;
  }

  &__poster {
    width: auto;
    height: 500px;
  }
}
